<div class="row g-5 g-xl-10">
  <div class="col-xl-12 mb-5 mb-xl-12">
    <div class="card card-flush h-md-100">
      <div class="card-header card-header-stretch">
        <div class="card-title d-flex align-items-center">
          <i
            class="ki-outline ki-calendar-8 fs-1 text-primary me-3 lh-0"
          ></i>
          <h3 class="fw-bold m-0 text-gray-800">Lịch sử hoạt động</h3>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div
            id="kt_activity_today"
            class="card-body p-0 tab-pane fade show active"
            role="tabpanel"
            aria-labelledby="kt_activity_today_tab"
          >
            <div class="timeline">
              <!--
              <div class="timeline-item">
                <div class="timeline-line w-40px"></div>
                <div
                  class="timeline-icon symbol symbol-circle symbol-40px me-4"
                >
                  <div class="symbol-label bg-light">
                    <i class="ki-duotone ki-crown-2 text-gray-500 fs-2">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                    </i>
                  </div>
                </div>
                <div class="timeline-content mb-10 mt-n1">
                  <div class="pe-3 mb-5">
                    <div class="fs-5 fw-semibold mb-2">
                      Nâng cấp tài khoản thành công!
                    </div>
                    <div
                      class="d-flex align-items-center mt-1 fs-6"
                    >
                      <div class="text-muted me-2 fs-7">
                        Sent at 4:23 PM by
                        <a href="#" class="text-primary fw-bold me-1">
                          Quản trị viên
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="overflow-auto pb-5">
                    <div
                      class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-750px px-7 py-3 mb-0"
                    >
                      <a
                        href="/"
                        class="fs-5 text-dark text-hover-primary fw-semibold w-375px min-w-200px"
                        >Nâng cấp gói cơ bản</a
                      >
                      <div class="symbol-group symbol-hover flex-nowrap flex-grow-1 min-w-100px pe-2">
                        <span class="badge badge-light text-muted"
                          >10 lượt tải</span
                        >
                      </div>
                      <div class="min-w-125px">
                        <span class="badge badge-light-success"
                          >Hoàn thành</span
                        >
                      </div>
                      <a
                        href="/"
                        class="btn btn-sm btn-light btn-active-light-primary"
                        >Xem chi tiết</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="timeline-item">
                <div class="timeline-line w-40px"></div>
                <div
                  class="timeline-icon symbol symbol-circle symbol-40px"
                >
                  <div class="symbol-label bg-light">
                    <i
                      class="ki-outline ki-disconnect fs-2 text-gray-500"
                    ></i>
                  </div>
                </div>
                <div class="timeline-content mb-10 mt-n1">
                  <div class="mb-5 pe-3">
                    <a
                      href="#"
                      class="fs-5 fw-semibold text-gray-800 text-hover-primary mb-2"
                      >Tải file N5</a
                    >
                    <div
                      class="d-flex align-items-center mt-1 fs-6"
                    >
                      <div class="text-muted me-2 fs-7">
                        Sent at 10:30 PM
                      </div>
                    </div>
                  </div>
                  <div class="overflow-auto pb-5">
                    <div
                      class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-700px p-5"
                    >
                      <div
                        class="d-flex flex-aligns-center pe-10 pe-lg-20"
                      >
                        <img
                          alt=""
                          class="w-30px me-3"
                          src="<%= asset_path("media/svg/files/pdf.svg") %>"
                        />
                        <div class="ms-1 fw-semibold">
                          <a
                            href="/"
                            class="fs-6 text-hover-primary fw-bold"
                            >Finance KPI App Guidelines</a
                          >
                          <div class="text-gray-400">1.9mb</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="timeline-item">
                <div class="timeline-line w-40px"></div>
                <div
                  class="timeline-icon symbol symbol-circle symbol-40px"
                >
                  <div class="symbol-label bg-light">
                    <i
                      class="ki-outline ki-sms fs-2 text-gray-500"
                    ></i>
                  </div>
                </div>
                <div class="timeline-content mb-10 mt-n1">
                  <div class="pe-3 mb-5">
                    <div class="fs-5 fw-semibold mb-2">
                      Tài khoản hết lượt tải
                      <a
                        href="#"
                        class="text-primary fw-bold me-1"
                        >#67890</a
                      >Bạn vui lòng check email để đọc thêm thông tin chi tiết
                    </div>
                    <div class="overflow-auto pb-5">
                      <div
                        class="d-flex align-items-center mt-1 fs-6"
                      >
                        <div class="text-muted me-2 fs-7">
                          Sent at 4:23 PM by
                          <a href="#" class="text-primary fw-bold me-1">
                            Quản trị viên
                          </a>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <% current_account.histories.order(created_at: :desc).each do |history| %>
                <% if history.download? %>
                  <div class="timeline-item">
                    <div class="timeline-line w-40px"></div>
                    <div class="timeline-icon symbol symbol-circle symbol-40px">
                      <div class="symbol-label bg-light">
                        <i class="ki-outline ki-disconnect fs-2 text-gray-500"></i>
                      </div>
                    </div>
                    <div class="timeline-content mb-10 mt-n1">
                      <div class="mb-5 pe-3">
                        <a class="fs-5 fw-semibold text-gray-800 text-hover-primary mb-2"><%= history.title %></a>
                        <div class="d-flex align-items-center mt-1 fs-6">
                          <div class="text-muted me-2 fs-7">
                            Tạo lúc <%= history.created_at.strftime("%T %d/%m/%Y") %>
                          </div>
                        </div>
                      </div>
                      <div class="overflow-auto pb-5">
                        <div class="d-flex align-items-center justify-content-between border border-dashed border-gray-300 rounded min-w-700px p-5">
                          <div class="d-flex flex-aligns-center pe-10 pe-lg-20">
                            <img alt="" class="w-30px me-3" src="<%= asset_path("media/svg/files/pdf.svg") %>"/>
                            <div class="ms-1 fw-semibold">
                              <span class="fs-6 text-hover-primary fw-bold">[luyenkanji.com]file_luyen_N5.pdf</span>
                              <div class="text-gray-400">1.9mb</div>
                            </div>
                          </div>
                          <div>
                            <a href="<%= get_path_record(history.record_id) %>" class="btn btn-sm btn-light btn-active-light-primary">Xem chi tiết</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% if history.create_account? %>
                  <div class="timeline-item">
                    <div class="timeline-line w-40px"></div>
                    <div
                      class="timeline-icon symbol symbol-circle symbol-40px"
                    >
                      <div class="symbol-label bg-light">
                        <i
                          class="ki-outline ki-pencil fs-2 text-gray-500"
                        ></i>
                      </div>
                    </div>
                    <div class="timeline-content mb-0 mt-n1">
                      <div class="pe-3 mb-5">
                        <div class="fs-5 fw-semibold mb-2">
                          Tạo tài khoản thành công!
                        </div>
                        <div
                          class="d-flex align-items-center mt-1 fs-6"
                        >
                          <div class="text-muted me-2 fs-7">
                            Tài khoản được tạo thành công lúc <%= history.created_at.strftime("%T %d/%m/%Y") %> bởi 
                            <a
                              href="javascript:void(0)"
                              class="text-primary fw-bold me-1"
                              >Quản trị viên</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="overflow-auto mb-10 pb-5">
                        <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed min-w-lg-600px flex-shrink-0 p-6">
                          <i class="ki-duotone ki-notification-on fs-2tx text-primary me-4">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                          </i>
                          <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                            <div class="mb-3 mb-md-0 fw-semibold">
                              <h4 class="text-gray-900 fw-bold">
                                <%= history.title %>
                              </h4>
                              <div class="fs-6 text-gray-700 pe-7">
                                <%= history.description %>
                              </div>
                            </div>
                            <a href="https://luyenkanji.com/"
                              data-bs-toggle="modal"
                              data-bs-target="#kt_modal_upgrade_plan" 
                              class="btn btn-secondary px-6 align-self-center text-nowrap d-flex justify-content-between align-items-start">
                              <span>Nâng cấp tài khoản để trải nghiệm tốt hơn&nbsp;&nbsp;</span>
                              <i class="ki-duotone ki-crown-2 text-warning fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                              </i>
                            </a >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>