<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Đăng Nhập | Luyenkanji.com - Ứng dụng luyện Kanji theo nét viết tay</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= favicon_link_tag asset_path("favicon.svg"), rel: "icon", type: "image/x-icon" %>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google" content="notranslate">
  </head>

  <body>
    <%= render "shared/flash" %>
    <div class="wrapper">
      <div class="section-left">
        <%= render "layouts/admin/sidebar" %>
      </div>
      <div class="section-right">
        <%= render "layouts/admin/header" %>
        <div class="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
