<%= content_for :breadcum_first, "Trang chủ" %>
<%= content_for :breadcum_first_link, root_path %>
<%= content_for :breadcum_second, "Tài khoản" %>

<div class="d-flex flex-column flex-column-fluid">
  <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-0">
    <div
      id="kt_app_toolbar_container"
      class="app-container container-xxl d-flex flex-stack"
    >
      <div
        class="page-title d-flex flex-column justify-content-center me-3"
      >
        <h1
          class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0"
        >
          Tổng quan tài khoản
        </h1>
       <%= render "layouts/breadcrumb" %>
      </div>
    </div>
  </div>
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <div
      id="kt_app_content_container"
      class="app-container container-xxl"
    >
      <div class="card mb-5 mb-xl-10">
        <div class="card-body pt-9 pb-0">
          <div class="d-flex flex-wrap flex-sm-nowrap">
            <div class="me-7 mb-4">
              <div
                class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative"
              >
                <img
                  src="<%= @account.photo_url %>"
                  alt="image"
                />
                <div
                  class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"
                ></div>
              </div>
            </div>
            <div class="flex-grow-1">
              <div
                class="d-flex justify-content-between align-items-start flex-wrap mb-2"
              >
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-center mb-2">
                    <a
                      href="#"
                      class="text-gray-900 text-hover-primary fs-2 fw-bold me-1"
                      ><%= @account.full_name %></a
                    >
                    <a href="#">
                      <i
                        class="ki-outline ki-verify fs-1 text-primary"
                      ></i>
                    </a>
                  </div>
                  <div
                    class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2"
                  >
                    <a
                      href="#"
                      class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2"
                    >
                      <i
                        class="ki-outline ki-profile-circle fs-4 me-1"
                      ></i
                      >Developer</a
                    >
                    <a
                      href="#"
                      class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2"
                    >
                      <i
                        class="ki-outline ki-geolocation fs-4 me-1"
                      ></i
                      ><%= @account.address %></a
                    >
                    <a
                      href="#"
                      class="d-flex align-items-center text-gray-400 text-hover-primary mb-2"
                    >
                      <i class="ki-outline ki-sms fs-4 me-1"></i><%= @account.email %></a
                    >
                  </div>
                </div>
              </div>
              <div class="d-flex flex-wrap flex-stack">
                <div class="d-flex flex-column flex-grow-1 pe-8">
                  <div class="d-flex flex-wrap">
                    <div
                      class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="ki-outline ki-arrow-up fs-3 text-success me-2"
                        ></i>
                        <div
                          class="fs-2 fw-bold"
                          data-kt-countup="true"
                          data-kt-countup-value="4500"
                          data-kt-countup-prefix="$"
                        >
                          0
                        </div>
                      </div>
                      <div class="fw-semibold fs-6 text-gray-400">
                        Earnings
                      </div>
                    </div>
                    <div
                      class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="ki-outline ki-arrow-down fs-3 text-danger me-2"
                        ></i>
                        <div
                          class="fs-2 fw-bold"
                          data-kt-countup="true"
                          data-kt-countup-value="80"
                        >
                          0
                        </div>
                      </div>
                      <div class="fw-semibold fs-6 text-gray-400">
                        Projects
                      </div>
                    </div>
                    <div
                      class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="ki-outline ki-arrow-up fs-3 text-success me-2"
                        ></i>
                        <div
                          class="fs-2 fw-bold"
                          data-kt-countup="true"
                          data-kt-countup-value="60"
                          data-kt-countup-prefix="%"
                        >
                          0
                        </div>
                      </div>
                      <div class="fw-semibold fs-6 text-gray-400">
                        Success Rate
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center w-200px w-sm-300px flex-column mt-3">
                  <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                    <span class="fw-semibold fs-6 text-gray-400">Hoàn thiện hồ sơ</span>
                    <span class="fw-bold fs-6">50%</span>
                  </div>
                  <div class="h-5px mx-3 w-100 bg-light mb-3">
                    <div
                      class="bg-success rounded h-5px"
                      role="progressbar"
                      style="width: 50%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul
            class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold"
          >
            <li class="nav-item mt-2">
              <a
                class="nav-link text-active-primary ms-0 me-10 py-5 active"
                href=""
                >Tổng quan</a
              >
            </li>
            <li class="nav-item mt-2">
              <a
                class="nav-link text-active-primary ms-0 me-10 py-5"
                href=""
                >Nhật ký hoạt động</a
              >
            </li>
            <li class="nav-item mt-2">
              <a
                class="nav-link text-active-primary ms-0 me-10 py-5"
                href=""
                >Lịch sử thanh toán</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
        <div class="card-header cursor-pointer">
          <div class="card-title m-0">
            <h3 class="fw-bold m-0">Thông tin chi tiết</h3>
          </div>
          <a href="" class="btn btn-sm btn-primary align-self-center">Sửa thông tin cá nhân</a>
        </div>
        <div class="card-body p-9">
          <div class="row mb-7">
            <label class="col-lg-4 fw-semibold text-muted"
              >Họ Tên</label
            >
            <div class="col-lg-8">
              <span class="fw-bold fs-6 text-gray-800"
                ><%= @account.full_name %></span
              >
            </div>
          </div>
          <div class="row mb-7">
            <label class="col-lg-4 fw-semibold text-muted">
                Địa chỉ E-mail
                <span class="ms-1" data-bs-toggle="tooltip" title="địa chỉ email đã được xác nhận">
                  <i class="ki-outline ki-information fs-7"></i>
                </span>
            </label>
            <div class="col-lg-8 fv-row">
              <span class="fw-semibold text-gray-800 fs-6"
                ><%= @account.email %></span
              >
              <span class="badge badge-success">Verified</span>
            </div>
          </div>
          <div class="row mb-7">
            <label class="col-lg-4 fw-semibold text-muted">
              Số điện thoại
            </label>
            <div class="col-lg-8 d-flex align-items-center">
              <span class="fw-bold fs-6 text-gray-800 me-2"><%= @account.phone_number %></span>
            </div>
          </div>
          <div class="row mb-7">
            <label class="col-lg-4 fw-semibold text-muted">Địa chỉ</label>
            <div class="col-lg-8">
              <span class="fw-bold fs-6 text-gray-800"><%= @account.address %></span>
            </div>
          </div>
           <div class="row mb-7">
            <label class="col-lg-4 fw-semibold text-muted">Sinh Nhật
              <span class="ms-1" data-bs-toggle="tooltip" title="Vào ngày sinh nhật bạn sẽ nhận được 10 lượt tải">
                <i class="ki-outline ki-information fs-7"></i>
              </span>
            </label>
            <div class="col-lg-8">
              <span class="fw-bold fs-6 text-gray-800"><%= @account.birth_of_date&.strftime(Settings.date.formats) %></span>
            </div>
          </div>
          <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
            <i class="ki-outline ki-information fs-2tx text-warning me-4"></i>
            <div class="d-flex flex-stack flex-grow-1">
              <div class="fw-semibold">
                <h4 class="text-gray-900 fw-bold">
                  Chúng tôi cần sự chú ý của bạn
                </h4>
                <div class="fs-6 text-gray-700">
                  Tài khoản của bạn sắp hết lượt tải xuống
                  <a class="fw-bold" href="">Liên hệ quản trị viên</a> để mua thêm.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>