<div class="mb-6">
  <h3 class="text-gray-800 fw-bold mb-8">Tiện ích</h3>
  <div
    class="row row-cols-3"
    data-kt-buttons="true"
    data-kt-buttons-target="[data-kt-button]"
  >
    <div class="col mb-4">
      <a
        href="<%= search_kanji_path %>"
        class="btn btn-icon btn-outline btn-bg-light btn-active-light-primary btn-flex flex-column flex-center w-lg-90px h-lg-90px w-70px h-70px <%= active_sidebar(search_kanji_path, "dashboard", "search_kanji") %>"
        data-kt-button="true"
      >
        <span class="mb-2">
          <i class="ki-outline ki-calendar fs-1"></i>
        </span>
        <span class="fs-7 fw-bold">Tìm Kanji</span>
      </a>
    </div>
    <div class="col mb-4">
      <a href="<%= translate_path %>"
        class="btn btn-icon btn-outline btn-bg-light btn-active-light-primary btn-flex flex-column flex-center w-lg-90px h-lg-90px w-70px h-70px <%= active_sidebar(translate_path, "dashboard", "translate") %>"
        data-kt-button="true">
        <span class="mb-2">
          <i class="ki-outline ki-security-check fs-1"></i>
        </span>
        <span class="fs-7 fw-bold">Dịch bằng AI</span>
      </a>
    </div>
    <div class="col mb-4">
      <a href="<%= podcast_path %>"
        class="btn btn-icon btn-outline btn-bg-light btn-active-light-primary btn-flex flex-column flex-center w-lg-90px h-lg-90px w-70px h-70px  <%= active_sidebar(podcast_path, "dashboard", "podcast") %>"
        data-kt-button="true">
        <span class="mb-2">
          <i class="ki-outline ki-wifi-square fs-1"></i>
        </span>
        <span class="fs-7 fw-bold">Nghe hiểu</span>
      </a>
    </div>
    <div class="col mb-4">
      <a
        href=""
        class="btn btn-icon btn-outline btn-bg-light btn-active-light-primary btn-flex flex-column flex-center w-lg-90px h-lg-90px w-70px h-70px border-gray-200"
        data-kt-button="true"
      >
        <span class="mb-2">
          <i class="ki-outline ki-chart-line-up-2 fs-1"></i>
        </span>
        <span class="fs-7 fw-bold">Đọc hiểu</span>
      </a>
    </div>
    <div class="col mb-4">
      <a href="" class="btn btn-icon btn-outline btn-bg-light btn-active-light-primary btn-flex flex-column flex-center w-lg-90px h-lg-90px w-70px h-70px border-gray-200"
        data-kt-button="true">
        <span class="mb-2">
          <i class="ki-outline ki-shield-tick fs-1"></i>
        </span>
        <span class="fs-7 fw-bold">Thảo luận</span>
      </a>
    </div>
    <div class="col mb-4">
      <a href="<%= root_path %>" class="btn btn-icon btn-outline btn-bg-light btn-active-light-primary btn-flex flex-column flex-center w-lg-90px h-lg-90px w-70px h-70px <%= active_sidebar(root_path, "dashboard") %>"
        data-kt-button="true">
        <span class="mb-2">
          <i class="ki-outline ki-geolocation-home fs-1"></i>
        </span>
        <span class="fs-7 fw-bold">Trang chủ</span>
      </a>
    </div>
  </div>
</div>